nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    padding: 1rem;
}

.tituloNav {
    font-size: 1.5rem;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 1rem;
}

.botones {
    display: flex;
    gap: 0.5rem;
}

.enlaces, .boton {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.boton {
    background-color: gray;
    color: white;
}

header {
    text-align: center;
    background-color: #d3d3d3;
    padding: 2rem;
}

h2{
    padding: 0.5rem;
    display: inline-block;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 4rem;
}

.contenedorMain {
    width: 60%;
    text-align: center;
}

.contenedorMain p{
    border: 2px;
    padding: 0.5rem;
    text-align: justify;
    border: 1rem solid gray;
}

.contenidoLateral {
    width: 30%;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    background-color: purple;
    border-radius: 80px;
}

.contenidoLateral2{
    width: 30%;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    background-color: red;
    border-radius: 80px;
}

.contenidoLateral3{
    width: 30%;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    background-color: blue;
    border-radius: 80px;
}

.contenidoLateral4{
    width: 30%;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    border-radius: 80px;
}

.contenidoLateral5{
    width: 30%;
    display: flex;
    align-items: center;
    text-align: justify;
}

.imagenAside {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5rem solid gray;
    border-radius: 5rem;
    padding: 2rem;
    display: block;
    margin: 0 auto 1rem auto;
}

.imgAside {
    width: 100%;
    border-radius: 50%;
}

.formulario {
    text-align: center;
    padding: 2rem;
    background-color: #f4f4f4;
}

form input, form textarea {
    width: 80%;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 0.7rem;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #d3d3d3;
}

.redesSociales a {
    margin: 0 0.5rem;
    font-size: 1.5rem;
}
